
*.vsidx
.vs/DemoFinances/v17/.suo
.vs/DemoFinances/v17/.suo
.vs/DemoFinances/v17/.suo
vs/
.vs/DemoFinances/DesignTimeBuild/.dtbcache.v2
.vs/DemoFinances/FileContentIndex/184c6e6e-3860-49f9-9991-625d6f6c3f7c.vsidx
